@page
@model FuturionNewsfeed.Pages.News.CreateModel

@{
    ViewData["Title"] = "Új hír felvétele";
}

<h2>Új hír felvétele</h2>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewsItem.Title" class="control-label"></label>
                <input asp-for="NewsItem.Title" class="form-control" />
                <span asp-validation-for="NewsItem.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsItem.Text" class="control-label"></label>
                <textarea asp-for="NewsItem.Text" class="form-control" rows="10" cols="50"></textarea>
                <span asp-validation-for="NewsItem.Text" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="NewsItem.CreationDateTime" class="control-label"></label>
                <input asp-for="NewsItem.CreationDateTime" class="form-control" />
                <span asp-validation-for="NewsItem.CreationDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsItem.CreatorUsername" class="control-label"></label>
                <input asp-for="NewsItem.CreatorUsername" class="form-control" />
                <span asp-validation-for="NewsItem.CreatorUsername" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Beküldés" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Vissza a hírfolyamhoz</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
