@page
@model FuturionNewsfeed.Pages.News.IndexModel

@{
    ViewData["Title"] = "Hírfolyam";
}

@*@section Scripts
    {
<script>
    function refreshNews() {
        //$('#load').on('click', function () {
        //    $('#_newsfeed').load('/Index?handler=CarPartial');
        //});
        console.log("teszt");
        $('#_newsfeed').load('/Index?handler=NewsPartial');
        setTimeout(refreshNews, 5000);
    }

    refreshNews();
</script>
}*@

<h2>Hírfolyam</h2>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-page="Create">Új hír felvétele</a>
    }
</p>
<hr />

<div id="_newsfeed">
    @Html.Partial("_Newsfeed", Model)
</div>

